.no_padding{
  padding: 0;
}

.border_radius_zero{
  border-radius: 0;
}

.border-primary-blue{
  border-color: $light-blue-dark;
}

.padding_fifty{
  padding: 50px;
}

.custom-table{
  font-size: 0.7em;
}

.link_courser:hover{
  cursor: pointer;
}

.custom-badge{
  font-size: 1em;
}

